<nav class="nav">
    <a class="nav__link link" routerLinkActive="link_active" *ngIf="_auth.isLoggedIn()" routerLink="game">Game</a>
    <a class="nav__link link" routerLinkActive="link_active" [routerLinkActiveOptions]="{exact: true}" *ngIf="_auth.isLoggedIn()" routerLink="home">Scores</a>
    <a class="nav__link link" routerLinkActive="link_active" *ngIf="!_auth.isLoggedIn()" routerLink="login">Login</a>
    <a class="nav__link link" routerLinkActive="link_active" *ngIf="!_auth.isLoggedIn()" routerLink="signup">Signup</a>
    <a class="nav__link link" *ngIf="_auth.isLoggedIn()" href="javascript:void(0)" (click)="doLogout()">Logout</a>
</nav>
<main class="fullscreen">
    <router-outlet></router-outlet>
</main>
