<div class="form">
    <div class="box">
        <input class="input input_block" type="text" placeholder="Your name" autofocus>
    </div>
    <div class="box">
        <input class="input input_block" type="email" required placeholder="E-mail">
    </div>
    <div class="box">
        <input class="input input_block" type="password" name="password" value="" required min="8" placeholder="New password">
    </div>
    <div class="box">
        <input class="input input_block" type="password" name="password" value="" required placeholder="Repeat password">
    </div>
    <div class="box">
        <button type="submit" class="button">Register</button>
    </div>
</div>